body
{
    color: rgb(224, 41, 41);
    text-align: left;
    font-family: sans-serif;
    font-size: 16px;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(196, 192, 192);
    margin: 0 auto;
}

#cabecera
 {
     background: lightgreen;
     box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
     color: orangered;
     font-weight: bold;
     margin: 0%;
     padding: 0.5em;
 }

#cabecera #tagline
{
    margin: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

#container h1
{
    font-size: 20px;
}